<lib-training-centre-beto-paredes
[TrainingCentreData]="TrainingCentreData"
[serverDetails]="serverDetails"
[formSource]="formSource"
[QuizQuestionSource]="quizQuestionSourceName"
[ParamsId]="paramsId"
[TrainingCenterRoute]="trainingCenterRoute"
[TrainingName]="trainingName"
[TotalData]="totalData"
[TrainingCeneterData]="trainingCeneterData"
[lessonplanmaterialRoute]="lessonplanmaterialRoute"
[googleScheduleRoute]="googleScheduleRoute" 
[TrainingcatParamid]="trainingcatParamid"
[LessonParamId]="lessonParamId"
[LessionFileEndpoint]='lessionFileEndpoint'
>

</lib-training-centre-beto-paredes>